  <nav class="navbar">

    <h2 class="brand">BEASTFOODS</h2> 

      <ul class="links-container">
        <li class="links-item">
            <a href='/' class="links">HOME</a>
        </li>
         <li class="links-item">
        <a href='/onTheMenu' class="links">ON THE MENU</a>
         </li>
       
        {{#if session.user}}
          <li class="links-item">
            <a href="/dashboard/{{ session.role }}" class="links">
              MY DASHBOARD
            </a>
          </li>
        {{else}}
        <li class="links-item">
             <a href='/user/sign-in' class="links">LOG IN</a>
        </li>   
        <li class="links-item">
            <a href='/user/registration' class="links">SIGN-UP</a>
        </li>
        
         {{/if}}     
      </ul>
</nav>
