  <div class="hero-image">
      <div class="hero-text">
        <h1>WELCOME TO BEASTFOODS</h1> <br>
        <p><h2>Be sure to visit the ON THE MENU page to see what delicious meals we have prepped and ready to go!</h2></p> <br>
        <div class="hero-button">
          <button><a href='/OnTheMenu' class="links">ON THE MENU</a></button>  
        </div>
   
      </div>  
  </div>


