 <body>  
   {{>header}}
 

<div class="registration-box">
  
  
    
<fieldset>
      <h1 class="sign-in-text">Sign Up</h1> <br>
      <h3 class="sign-in-text">Create your account by entering your email and choosing a password</h3>
    
    <input type="text" id="fname" name="firstname" required placeholder="First Name" autocomplete="given-name"> <br>
    <input type="text" id="lname" name="lastname" required placeholder="Last Name"   autocomplete="family-name"> <br>
    <input type="email" id="email" name="email" required placeholder="Email Address" ><br>
    <input type="password" id="password" name="password"  placeholder="Password" > <br> <br>
    <input type="submit" value="Sign Up Today" class="button">
</fieldset>


</div>

  {{>footer}}
</body>
