   {{>header}}
<div class="wel-container">
  <div class="row text-center">
    <div class="col-sm-12">
      <br><br>
      <h2 class="text-info">Welcome!</h2>
      <p>Thank you for registering. We have sent you an email with your details.</p>
      <p>Please go to your email now and login.</p>
      <br>
      <br>
      <a href="/sign-in" class="btn-info">Log in</a>
      <br><br>
    </div>
  </div>
</div>

  {{>footer}}